* {
    /* margin: 0 auto; */
    font-family: Lato;
}

.container {
    /* max-width: 1600px; */
}

.cont {
    max-width: 1600px;
}

.container1140 {
    width: 1148px;
}

/* header */

.page_header {
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
    fill: #E8E8E8;
    width: 100%;
    background: #222222;
    min-height: 75px;
    display: flex;
    align-items: center;
}

.page_header_container {

    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.logo {
    margin: 0 41px 0 0;
}

.page_header_left_side {
    display: flex;
    align-items: flex-end;
}

.page_header_right_side {
    display: flex;
    align-items: center;
}

/* === page-header-search-form === */
.page_header_search_form {
    width: 26px;
    min-height: 26px;
    position: relative;
}

.page_header_search_form:hover svg {
    fill: orange;
}

.page_header_search_btn {
    width: 0;
    min-height: 0;
    padding: 5px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: -1px;
    left: 30px;
    color: #fff;
    font-size: 16px;
    font-family: Arial;
    text-transform: capitalize;
}

.page_header_search_btn:focus {
    width: 150px;
    min-height: 20px;
    transition: width 1s ease;
    border: 2px solid #fff;
}

.page_header_search_btn:focus~label>svg {
    fill: green;
}

.page_header_search_btn:active~label>svg {
    fill: red;
}

/* === end page-header-search-form === */

/* menu */
.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    /* border: 1px solid #fff; */
}

.menu-btn:hover span,
.menu-btn:hover span::before,
.menu-btn:hover span::after {
    background-color: orange;
}

.menu-btn:active span,
.menu-btn:active span::before,
.menu-btn:active span::after {
    background-color: red;
}

.menu-btn span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: relative;
}

.menu-btn span::before,
.menu-btn span::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: -10px;
    left: 0;
}

.menu-btn span::after {
    top: 10px;
}

#menu-switch {
    display: none;
}

#menu-switch:checked~.menu-list {
    display: block;
}

#menu-switch:checked~.page-header-banner {
    border: 8px solid red;
}

/* ======================= */

.menu-list {
    display: none;
    width: 232px;
    min-height: 764px;
    /* значение в свойстве min-height удобно задать через переменную равную высоте второго блока */
    padding: 16px 33px;
    box-sizing: border-box;
    background-color: #fff;
    list-style: none;

    position: absolute;
    top: 75px;
    /* значение в свойстве top удобно задать через переменную равную высоте первого блока */
    right: 0;
    z-index: 20;
}

.menu-list-close-btn {
    display: block;
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    position: relative;
    top: -55px;
    left: 170px;
}

.menu-list-close-btn::before,
.menu-list-close-btn::after {
    content: "";
    display: block;
    width: 18px;
    height: 2px;
    background: #6F6E6E;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    left: -3px;
    transform: rotate(45deg);
}

.menu-list-close-btn::after {
    transform: rotate(-45deg)
}

.menu-list-close-btn:hover::before,
.menu-list-close-btn:hover::after {
    background: #B7B6B6;
}

.menu-list-close-btn:active::before,
.menu-list-close-btn:active::after {
    background: #535353;
}

.menu-list-title {
    display: block;
    margin: 9px 0 24px 0;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}

.menu-title>a,
.menu-list-item>a,
.menu-sublist-item>a {
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
}

.menu-list-item>a {
    display: block;
    margin: 0 0 11px 0;
    color: #F16D7F;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-list-item:hover>a {
    color: #9889D7;
}

.menu-list-item:active>a {
    color: #9D2334;
}

.menu-sublist {
    padding: 0 0 0 21.5px;
    box-sizing: border-box;
    list-style: none;
}

.menu-sublist-item>a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 0 11px 0;
    color: #6F6E6E;
}

.menu-sublist-item a {
    text-decoration: none;
}

.menu-sublist-item:hover a {
    text-decoration: underline;
}

.menu-sublist-item:active a {
    text-decoration: none;
}

/* end menu */
.menu {}

.menu_btn {
    display: flex;
    padding: 0;
    margin: 0;
    width: 32px;
    height: 23px;
    border: none;
    background-color: transparent;
}

.menu_btn:hover .menu_btn_item,
.menu_btn:hover .menu_btn_item::before,
.menu_btn:hover .menu_btn_item::after {
    background-color: orange;
}

.menu_btn:active .menu_btn_item,
.menu_btn:active .menu_btn_item::before,
.menu_btn:active .menu_btn_item::after {
    background-color: red;
}

.menu_btn_item {
    margin: auto;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: relative;
    margin-left: 0px;
}

.menu_btn_item::before,
.menu_btn_item::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
}

.menu_btn_item::before {
    top: -10px;
}

.menu_btn_item::after {
    top: 10px;
}

.profile {
    margin: 0 15px 0 15px;
    fill: #E8E8E8;

}


.midle_card_margin {
    margin: 0 30px 0 30px;
}

.accesories {
    height: 180px;
    background-image: url(../img/accesories.png);
    background-repeat: no-repeat;
    margin-bottom: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accesories_text_top {
    z-index: 1;
    font-family: Lato;
    position: absolute;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.accesories_text_bottom {
    position: absolute;
    font-family: Lato;
    margin: 50px 0px 0px 0px;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #F16D7F;
}

.accesories_bg {
    position: absolute;
}

.text_link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_link_card {
    display: flex;
    align-items: center;
}

.text_feature_link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    align-items: center;
}

.cart {
    position: relative;
    border: none;
    background-color: transparent;
    color: #fff;

}

.cart_btn {
    display: block;
    width: 19px;
    height: 19px;
    background-color: #F16D7F;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -3px;
    right: -2px;

}

/* end of header part */

/* brand */
.brand_wrp {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin-right: 430px;

}

.brand_wrp_img {
    /* margin-right: 100px; */


}

.brand {


    background: #F1E4E6;
    display: flex;
    margin-bottom: 65px;
    justify-content: center;
}

.brand_box_wrap {
    max-width: 405px;
    width: 100%;
    display: block;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.brand_box {
    max-width: 405px;
    width: 100%;
    display: block;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.brand_box_wrp {
    min-width: 405px;
}

.brand_box_wrp:hover .top_text,
.brand_box_wrp:hover .bottom_text {
    color: #F16D7F;

}

.brand_box::before {
    content: "";
    display: block;
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
    position: absolute;
    /* top: 335px; */
    left: -28px;
}

/* .brand_box_wrap::before {
    content: "";
    display: block;
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
    position: absolute;
    top: 319px;
    left: -28px;
} */

.brand_box_wrp:hover {
    transform: rotate(360deg);
    transition: transform 3s;
}

.top_text {
    margin: 0;
    font-family: Lato;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.bottom_text {
    margin: 0;
    display: block;
    font-family: Lato;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #222222;
}

.bottom_text_fashion {
    /* display: block; */
    text-transform: uppercase;
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #F16D7F;
}

/* end of brand part */

/* ======= categories ======= */

.categories {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1140px;
    margin: 65px auto 50px auto;
}

.categories_item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 360px;
    min-height: 260px;
    margin: 0 0px 30px 0;
    background-size: cover;
    background-position: center;
    transition: transform 1s;
}

.categories_item:hover {
    transform: scale(1.1);
    transition: transform 1s;
}

.categories_item_height {
    min-height: 180px;
}

.categories_item:nth-child(1) {
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)),
        url(../img/card1.png);
}

.categories_item:nth-child(2) {
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)),
        url(../img/card2.png);
}

.categories_item:nth-child(3) {
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)),
        url(../img/card3.png);
}

.categories_item:last-child {
    width: 100%;
    background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)),
        url(../img/accesories.png);
}

.categories_item:nth-child(4n-1),
.categories_item:last-child {
    margin: 0 0 30px;
}

.categories_item_title,
.categories_item_subtitle {
    display: block;
    width: 100%;
    text-transform: uppercase;
}

.categories_item_title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.categories_item_subtitle {
    display: block;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #F16D7F;
}

/* ======= end categories ======= */

/* midle_content */

.midle_card_box {
    display: flex;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;

}

.midle_card {
    position: absolute;
    /* background-image: linear-gradient(rgba(33, 22, 22, 0.7); */
}

.midle_card_text_top {
    z-index: 1;
    font-family: Lato;
    position: absolute;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.midle_card_text_bottom {
    position: absolute;
    z-index: 1;
    font-family: Lato;
    margin: 50px 0px 0px 0px;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #F16D7F;
}

.background_img {
    position: relative;
}

/* end of midle_content part */

/* featured_items */

.featured_items {
    /* margin-bottom: 48px; */
    display: flex;
    justify-content: center;
}

.text_feature_h3 {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    font-weight: 400;
}

.text_feature_p {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

/* end of fetured_items part */

/* products */
.products {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products_item {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    box-sizing: border-box;
    background-color: #F8F8F8;
    margin-bottom: 30px;
    text-decoration: none;
    position: relative;
    transition: transform 1s;
}

.products_item:hover {
    transform: scale(1.04);
    transition: transform 1s;
}

.products_item_img {
    width: 360px;
    height: 420px;
    margin-bottom: 25px;
}



.products_item_text_box {
    width: 360px;
    padding-left: 16px;
    box-sizing: border-box;
}

.text_box_header {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
}

.text_box_main {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin: 12px 0 18px 0;
}

.text_box_price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.btn_products_wrp {
    display: flex;
    justify-content: center;

}

.btn_products {
    width: 212px;
    height: 48px;
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background-color: white;
    border: 1px solid #F26376;
    padding: 14.5px;
    box-sizing: border-box;
    box-shadow: 0 0 10px #4A4A4A;
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px 0 rgba(255, 255, 255);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255);
    }
}

.btn_products:hover {
    background-color: #F26376;
    color: white;
}

.btn_products:active {
    background-color: white;
    color: #F26376;
}

.products_item_btn {
    display: none;
    min-height: 44px;
    min-width: 139px;
    border: 1px solid #FFFFFF;
    background: transparent;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: absolute;
    top: 180px;
    left: 110px;
}

.products_item:hover .products_item_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products_item:hover .products_item_btn {
    background-color: #ccc;
    color: rgb(19, 19, 19);
    border: 1px solid #000;
}

.products_item:hover .products_item_btn:hover svg {
    fill: #000;
}

.products_item:hover .products_item_btn:active {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.products_item:hover .products_item_btn:active svg {
    fill: #fff;
}

.products_item:hover .products_item_img {
    filter: brightness(50%);
}

.pagnation_wrp {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.pagination {
    /* width: 284px;
    height: 44px; */
    margin-top: 47px;
    margin-bottom: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border_pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 303px;
    height: 44px;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.ul_pagination {

    margin: 0 4px 0 12px;
    padding: 0;
    /* display: inline; */
    list-style-type: none;

}

.ul_pagination_num {
    color: #C4C4C4;
}

.ul_pagination_num_1 {
    font-weight: 300;
    font-size: 16px;
    color: #EF5B70;

}

.ul_pagination_num:hover {
    color: #EF5B70;

}

/* .ul_pagination_svg {
    margin: 0 0 0 0;
} */

/* end of products part */

/* features */
.features_wrp {
    max-width: 1140px;
    width: 100%;
    height: 341px;
    background-color: #222224;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    box-sizing: border-box;
}

.features {
    /* max-width: 1600px; */
    height: 341px;
    background-color: #222224;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 230px 0 230px; */
    box-sizing: border-box;
}

.feature_item {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature_item_top {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 28px;
    margin-bottom: 16px;
}

.feature_item_bottom {
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: grey;
}

/* end of features part*/

/* footer */
.footer {
    width: 100%;
}

.footer_bottom_wrp {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;

}

.footer_wrp {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;

}

.footer_top {
    /* max-width: 1600px; */
    height: 448px;
    background-image: url(../img/photo_subscribe.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    margin-top: 30px;
}

.footer_left {
    width: 359px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe {
    /* width: 557px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.subscribe_text {
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    text-transform: uppercase;
    margin: 0;
}

.subscribe_p {
    margin-top: 0%;
    margin-bottom: 32px;
}

.subscribe_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 356px;
}

.email {
    width: 322px;
    height: 49px;
    opacity: 0.67;
    border-radius: 20px 0 0 20px;
    background-color: #E1E1E1;
    padding: 20px;
    box-sizing: border-box;
    border: none;
}

.subscribe_btn {

    color: #FFFFFF;
    padding: 16px;
    box-sizing: border-box;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #F16D7F;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.subscribe_btn:hover {
    background-color: #ffffff;
    color: #F16D7F;
}

.subscribe_btn:active {
    background-color: #F16D7F;
    color: #ffffff;
}

.footer_bottom {
    /* max-width: 1600px; */
    min-height: 79px;
    background-color: #222224;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy-rigths {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.fab {
    width: 32px;
    font-size: 32px;
    color: rgb(252, 252, 252);
}

.fab:hover {
    color: #F16D7F;
}

.fab:active {
    color: rgb(252, 252, 252);
}

.social_icons {
    display: flex;
    align-items: center;
}

/* end of footer part*/

/* catalog page */
.new_arrivals_marg {
    margin-bottom: 0px;
}

.new_arrivals {
    height: 148px;
    background-color: #F8F3F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new_arrivals_header {
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.new_arrivals_wrp {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.breadcrumbs_li {
    display: inline;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #636363;
}

.slesh::before {
    content: "/\00a0";
    font-weight: 300;
    color: #636363;
    margin: 5px;
}

.breadcrumbs_li:hover {
    color: #F16D7F;
    font-weight: bold;
}

.breadcrumbs_li_checked {
    color: #F16D7F;
    font-weight: bold;
}

/* filters*/
.filter_bar {
    display: flex;
    margin-bottom: 45px;
    margin-top: 51px;
    margin: 0 auto;
}

.filter_bar_wrp {
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

/* end filters*/
.filter {
    position: absolute;
    z-index: 1;
    text-transform: uppercase;
    list-style-type: none;
    width: 360px;
    /* height: 30px; */
    padding: 13px 16px 16px 16px;
    box-sizing: border-box;
    background: #FFFFFF;

}

#switch_filter {
    display: none;
}

#switch_filter:checked~.filter_list {
    display: block;
}

.filter_list_item:before {
    content: "";
    display: block;
    width: 5px;
    height: 37px;
    background-color: #EF5B70;
    position: absolute;
    left: 27px;
    top: -7px;

}

.filter_btn:hover {
    color: #F16D7F;
}

.filter_btn:hover .filter_svg {
    fill: #F16D7F;
}

.filter_list_item {
    list-style-type: none;
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 11px;

}

a {
    text-decoration: none;
}

.filter_list {
    display: none;
    list-style: none;

    list-style-type: none;
    position: relative;
}

.filter_sublist_item_a {
    font-size: 14px;
    line-height: 17px;
    color: #EF5B70;
}

.filter_sublist_item {
    list-style-type: none;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin-bottom: 11px;
}

.filter_btn {
    display: block;
    width: 100%;
    margin: 0 0 16px 0;
    padding: 0;
    background-color: transparent;
    border: none;
    color: #000000;
    text-align: left;
    margin: 43px 0 0 0;

}

/* other rilters*/
.other_filters {
    display: flex;
    padding: 16px 0px 64px 330px;
    box-sizing: border-box;
    margin-top: 40px;
}

.other_filters_wrp {
    display: flex;

}

.list_size_margin {
    margin-left: 65px;
}



/* input:focus,
button:focus {
    outline: none;
}

input:focus_visible,
button:focus_visible {
    outline: 2px solid #F16D7F;
} */

.list_size {
    display: block;
    width: 80px;
    border: none;
    background-color: transparent;
}

.filter_icon::after {
    content: url(../img/women_svg.svg);
    margin: 0 0 0 10px;

}

.list_size_wrp_display {
    display: none;
}

.list_size_btn_title {
    display: block;
    width: 80px;
    margin: 0 0 0 0;
    padding: 0;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.8px;
    color: #6F6E6E;
    background-color: transparent;
    text-align: left;
    text-transform: uppercase;
    position: relative;
}

.svg_trend {
    fill: #6F6E6E;
    position: absolute;
    top: 40%;
    left: 60%;
}

.list_size_btn_title svg {
    fill: #6F6E6E;
    position: absolute;
    top: 40%;
    left: 60%;
}

.list_size_btn_title_trd {
    display: block;
    width: 200px;
    margin: 0;
    padding: 0;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.8px;
    color: #6F6E6E;
    background-color: transparent;
    text-align: left;
    text-transform: uppercase;
    position: relative;
}

.list_size_btn_title:hover {
    color: #F16D7F;
}

.list_size_btn_title:hover svg {
    fill: currentColor;
}

.list_size_btn_title:active {
    color: black;
}

.list_size_btn_title:active svg {
    fill: currentColor;
}

#switch {
    display: none;
}

#switch:checked~.list_size_wrp {
    display: flex;
}

.list_size_wrp {
    position: absolute;
    z-index: 1;
    display: none;
    flex-direction: column;
    margin: 20px 0 0px 145px;
    padding: 9.5px 9.5px 9.5px 31px;
    box-sizing: border-box;
    background-color: #fff;
}

.list_size_item_title:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #EBEBEB;
}

.list_size_item {
    display: none;
}

.list_size_item:nth-child(1):checked~.list_size_item_title:nth-child(2):before,
.list_size_item:nth-child(3):checked~.list_size_item_title:nth-child(4):before,
.list_size_item:nth-child(5):checked~.list_size_item_title:nth-child(6):before,
.list_size_item:nth-child(7):checked~.list_size_item_title:nth-child(8):before {
    background-image: url(../img/check_icon.svg);
    background-size: cover;
    background-position: center;
}

.list_size_item_title {
    display: block;
    margin: 0 0 6px 0;
    position: relative;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.41px;
    color: #6F6E6E;
}

.list_size_item_title:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #EBEBEB;
    position: absolute;
    top: 1px;
    left: -23.5px;
}

.filter_sublist_item_marg {
    margin: 0 0 24px 0px;
}

.filter_list_item_brand {
    position: relative;
    padding-bottom: 11px;
    margin-bottom: 24px;
    border-bottom: 1px solid #EBEBEB;
}

.filter_list_item_brand::before {
    content: "";
    display: block;
    width: 5px;
    height: 37px;
    background-color: #EF5B70;
    position: absolute;
    left: -13px;
    top: -7px;

}

.filter_sublist {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.filter_list_item {
    margin: 0 0 24px 0px;
}

/* end catalog page */

/* product */

/* product */

.slider {

    margin-bottom: -49px;
    min-height: 777px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F7F7F7;
}

.img_slider {
    margin-bottom: 43px;
}

.slider_switch_left {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    background-color: #D8D8D8;
}

.slider_switch_right {
    margin: 0;
    left: 1600px;
    width: 47px;
    height: 47px;
    background-color: #D8D8D8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_switch_left_svg {
    fill: black;
}



.products_margin {
    margin-bottom: 128px;
    margin-top: 128px;
}

/* women collection */
.women_collection {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 64px 0 64px 0;
    width: 1141px;
    height: 601px;
    border: 1px solid #EAEAEA;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.women_collection_header {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
}

.women_collection_stick {
    width: 63px;
    height: 3px;
    background-color: #F16D7F;
    margin-bottom: 12px;
    margin-top: 12px;
}

.women_collection_moschino {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    margin: 0;
}

.women_collection_text {
    width: 555px;
    margin-bottom: 32px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 32px;
    color: #5E5E5E;
}

.women_collection_price {
    text-align: center;
    max-width: 642px;
    height: 64px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 64px;
}

.choose_wrp {
    display: flex;
    margin-bottom: 48px;
    width: 373px;
    justify-content: space-around;
}

.choose_item {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-transform: uppercase;
}

.choose_item::after {
    content: url(../img/women_svg.svg);
    margin-left: 9px;
}

.btn_cart {
    width: 212px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background-color: white;
    border: 1px solid #F26376;
    padding: 14.5px;
    box-sizing: border-box;
}

.btn_cart:hover {
    background-color: #F26376;
    color: white;
}

.btn_cart:active {
    background-color: white;
    color: #F26376;
}

.btn_svg {
    fill: #F26376;
    margin-right: 23px;
}

.btn_cart:hover .btn_svg {
    fill: white;
}

.btn_cart:active .btn_svg {
    fill: #F26376;
}

/* shoping_cart */
.cart_box {
    margin: 0 auto;
    padding: 96px 0px 250px 0px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1140px;
    width: 100%;
    flex-wrap: wrap;
}

.shoping_cart {
    display: flex;
    justify-content: flex-start;
}

.cart_item {
    max-width: 652px;
    height: 306px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #EAEAEA;
    box-shadow: 4px 4px 11px 6px rgba(34, 60, 80, 0.2);
    margin-left: 0;
    margin-bottom: 40px;
}

.left_cart {
    margin-left: 0;
}

.cart_item_text_box {
    position: relative;
    padding: 22px 97px 62px 31px;
    box-sizing: border-box;
    margin-left: 0;
}

.cart_img {
    margin-left: 0;
}

.text_mango_ {
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    margin: 0
}

.text_mango {
    margin-top: 0;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    margin-bottom: 42px;
}

.text_price {
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 6px;
}

.mango_number {
    width: 44px;
    margin-left: 25px;
    padding: 0 0 0 6px;
    box-sizing: border-box;
}

.text_price_red {
    color: #F26376;
}

.text_price_border {
    text-align: center;
    width: 44px;
    height: 24px;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    margin-top: 6px;
    border: 1px solid #EAEAEA;
}

.quantity {
    display: flex;

}

.btn_wrp {
    width: 652px;
    display: flex;
    justify-content: space-between;
}

.btn_cart_margin {
    margin-top: 72px;
    width: 239px;
    height: 50px;
    display: flex;
    justify-content: center;
    color: #F26376;
    background-color: white;
    border: 1px solid #A4A4A4;
    padding: 17px 40px;
    font-weight: 300;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    box-shadow: 0 0 10px #4A4A4A;
}

.btn_cart_margin:hover {
    background-color: #F26376;
    color: white;

}

.btn_cart_margin:active {
    background-color: white;
    color: #F26376;
    box-shadow: none;
}

.cross {
    position: absolute;
    top: 26px;
    left: 315px;
}

.right_cart {
    /* margin-left: 129px; */
    width: 360px;
    height: 272px;
}

.shoppin_adress {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-bottom: 20px;
}

.input_text_cart {
    width: 100%;
    height: 45px;
    border: 1px solid #A4A4A4;
    margin-bottom: 20px;
    padding: 0 0 0 10px;
}

.input_text_cart::-webkit-input-placeholder {
    color: #B1B1B1;
    padding: 13px 17px;
    box-sizing: border-box;
}

.quote_btn {
    width: 101px;
    height: 35px;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #A4A4A4;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}

.quote_btn:hover {
    background-color: #F26376;
    color: white;
}

.quote_btn:active {
    background-color: white;
    color: #F26376;
}

.total {
    margin-top: 57px;
    min-width: 360px;
    height: 214px;
    background-color: #F5F3F3;
    padding: 39px 34px 42px 44px;
    box-sizing: border-box;
}

.total_wrp {
    border-bottom: 1px solid #E2E2E2;
    /* padding-bottom: 21px; */
}

.sub_total {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 165px;

}

.grand_total {
    display: flex;
    margin: 0 0 0 165px;
    margin: 0 0 0 100px;
    justify-content: space-between;

}

.text_sub_total {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
}

.text_grand_total {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin: 0;

}

.text_grand_total_price {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #F16D7F;
    margin-top: 0px;
}

.quote_btn_proceed {
    width: 273px;
    height: 50px;
    text-transform: uppercase;
    background-color: #F16D7F;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    margin-top: 17px;
}

.quote_btn_proceed:hover {
    background-color: white;
    color: #F26376;
}

.quote_btn_proceed:active {
    background-color: #F26376;
    color: white;
}

.registration {

    max-width: 1600px;
    width: 100%;
    padding: 64px 230px 96px 230px;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
}

.registration_forms {
    max-width: 360px;
}

.registration_name {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-bottom: 20px;
}

.input_registration {
    min-width: 360px;
    height: 45px;
    border: 1px solid #A4A4A4;
    margin-bottom: 20px;
    padding: 0 0 0 10px;
}

.input_registration::-webkit-input-placeholder {
    color: #B1B1B1;
    padding: 13px 17px;
    box-sizing: border-box;
}

.registration_text {
    width: 652px;
    height: 334px;
    /* border: 1px solid black; */
    margin-left: 128px;
}

.reg_text_header {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 22px;
}

.reg_text_header_list {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding: 0;
}

.list_margin {
    margin-bottom: 16px;
    list-style-type: none;

}

.fa-check {
    margin: 0 30px 0px 0px;
}

.radio {
    margin: 0 0 33px 20px;
}

.registration_text_bottom {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin-bottom: 39px;
    text-transform: uppercase;
}

.join_btn {
    width: 176px;
    height: 50px;
    text-transform: uppercase;
    background-color: #F16D7F;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    fill: white;
    box-shadow: 0 0 10px #4A4A4A;
}

.join_btn:hover {
    background-color: white;
    color: #F26376;
    fill: #F26376;
}

.join_btn:active {
    background-color: #F26376;
    color: #FFFFFF;
    fill: white;
    box-shadow: none;
}

.mar {
    margin-right: 20px;
}

.footer_wrp_bottom {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column-reverse; */
    padding: 0 10px;
    box-sizing: border-box;
}

@media only screen and (min-width: 769px) and (max-width: 1080px) {
    body {
        outline: 2px solid red;
    }

    .categories_item {
        max-width: 232px;
        width: 100%;
        min-height: 167px;
        margin: 0 19px 0 0;
    }

    .categories_item:nth-child(3) {
        margin: 0;
        min-height: 167px;
    }

    .categories_item:last-child {
        margin: 19px 0 0 0;
        min-height: 116px;
        max-width: 100%;
    }
}

@media only screen and (max-width: 992px) {

    body {
        /* outline: 2px solid red; */
    }

    .products {
        justify-content: center;
    }

    .products_item {
        margin: 10px;
    }

    /*     .brand_wrp {
        justify-content: center;
    } */
    .brand_wrp_img {
        /* width: 50%; */
        /* outline: 1px solid green;  */
    }

    /*     .brand_wrp_img img {
        width: 100%;
        height:100%;
    } */
    .brand_box {
        margin-right: 20px;
    }

    .btn_products_wrp {
        margin: 50px 0 0 0;
    }
    .breadcrumbs_box {
        padding: 0;
    }

    .img_slider {
        max-width: 361px;
    width: 100%;
    }
    .women_collection_text {
        width: 326px;
    }

}

/* ========== @media 768px =============  */

@media only screen and (max-width: 768px) {
    .page_header {
        padding: 0 32px;
    }

    .brand {
        width: 100%;
        min-height: 368px;
    }

    .brand_box::before {
        top: 134px;
    }

    .top_text {
        font-size: 44px;
    }

    .bottom_text,
    .bottom_text_fashion {
        font-size: 24px;
    }

    .categories {
        margin: 0 0 154px 0;
        box-sizing: border-box;
    padding: 0 16px 0 15px;
    }

    .categories_item {
        max-width: 232px;
        width: 100%;
        min-height: 167px;
        margin: 0 19px 0 0;
    }

    .categories_item:nth-child(3) {
        margin: 0;
        min-height: 167px;
    }

    .categories_item:last-child {
        margin: 19px 0 0 0;
        min-height: 116px;
        max-width: 100%;
    }

    .text_feature_link {
        margin: 0 0 73px 0;
    }

    .features {
        min-height: 610px;
    }

    .features_wrp {
        flex-direction: column;
        justify-content: center;
    }

    .footer_top {
        min-height: 614px;
    }

    .footer_wrp {

        flex-direction: column;
        align-items: center;
    }

    .new_arrivals {
        padding: 0 16px;
        box-sizing: border-box;
    }

    .other_filters {
        padding: 24px 0px 40px 380px;
        margin-top: 0%;
    }

    .filter {
        padding: 24px 16px 16px 16px;
    }

    .filter_btn {
        margin: 0;
    }

    .products_item_catalog {
        display: none;
    }

    .footer_bottom_wrp {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        box-sizing: border-box;
    }

    
    .new_arrivals {
        padding: 0 16px;
    }

    .filter_btn {
        /* margin: 24px 0 0 0; */
    }

    .filter {
        /* padding: 0 16px; */
    }

    .breadcrumbs_box {
        padding: 0px 16px 0px 16px;
    }

    .pagination {
        margin-top: 40px;
        margin-bottom: 63px;
    }

    .new_arrivals_wrp {
        /* padding: 0 0 0 16px; */
    }
    .filter_bar_wrp {
        max-width: 768px;
        width: 100%;
    }
.container1140 {
    max-width: 768px;
        width: 100%;
}
.products_item_prod:last-child {
    display: none;
}

.input_registration {
    min-width: 360px;
}
.registration {
    padding: 64px 16px 96px 16px;
}
.registration_text {
    margin-left: 22px;
}
.reg_text_header {
    font-size: 16px;
}
.list_margin {
    font-size: 16px;
     }
.cart_box {
    padding: 59px 0px 250px 0px;
    justify-content: center;
}
.cart_item {
    max-width: 734px;
} 
.cross {
    left: 430px;
}
.right_cart {
    margin: 180px 0 0 0;
}






     
}




@media only screen and (max-width: 1024px) {
    .products {
        justify-content: space-around;
    }
}



@media only screen and (max-width: 375px) {
    .profile {
        display: none;
    }

    .cart {
        display: none;
    }

    .page_header {
        padding: 0 16px 0 16px;
    }

    .brand_wrp_img {
        display: none;
    }

    .top_text {
        font-size: 46px;
    }

    .bottom_text {
        font-size: 20px;
    }

    .brand_box {
        margin-left: 83px;
    }

    .categories_item {
        max-width: 343px;
        width: 100%;
        min-height: 247px;
        margin: 0 16px 32px 16px;
    }

    .categories_item:nth-child(3) {
        min-height: 247px;
        margin: 0 0 32px 16px;
    }

    .categories {
        margin: 0 0 64px 0;
    }

    .text_feature_link {
        margin: 0 0 64px 0;
    }

    .btn_products_wrp {
        margin: 40px 0 0 0;
    }

    .footer_wrp {
        flex-direction: column;
        min-height: 143px;
        justify-content: center;
    }

    .feature_item {
        align-items: center;
    }

    .social_icons {
        margin: 8px 0 40px 0;
    }

    .footer_wrp_bottom {
        max-width: 1140px;
        min-height: 143px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        padding: 0 10px;
        box-sizing: border-box;
        align-items: center;
    }

    .copy-rigths {
        margin: 0 0 9px 0;
    }

    .social_icons {
        margin: 43px 0 40px 0;
    }

    .feature_item_top {
        margin-top: 24px;
        margin-bottom: 14px;
    }

    .subscribe_box {
        max-width: 341px;
    }

    .footer_top {
        min-height: 550px;
    }
.new_arrivals_wrp {
    flex-direction: column;
    align-items: center;
}
.filter {
    width: 1px;
}
.other_filters {
    padding: 24px 0px 40px 12px;
}
.slider {
    min-height: 624px;
}
.women_collection_price {
    min-width: 175px;
    margin: 0px 0px 42px 0px;
}
.women_collection {
    border: none;
    border-bottom: 1px solid #EAEAEA;
}
.products_margin {
    margin-top: 64px;
    margin-bottom: 64px;
}
.choose_item {
    font-size: 10px;
}
.features {
    display: none;
}
.input_registration {
    min-width: 335px;
}
.registration {
    padding: 40px 16px 96px 16px;
    flex-wrap: wrap;
}
.join_btn {
    margin-bottom: 40px; 
}
.footer_top {
    margin-top: 96px;
}
}




@media only screen and (max-width: 750px) {
    .brand_wrp_img {
        display: none;
    }

    .categories_item {
        max-width: 343px;
        width: 100%;
        min-height: 247px;
        margin: 16px 0 32px 0px;
    }

    .categories_item:nth-child(3) {
        min-height: 247px;
        margin: 0 0 32px 0px;
    }

    .categories {
        justify-content: center;
    }
}